.friends-dashboard {
  background: white;
  border: solid black;
  border-radius: 20px;

  padding: 10px;
}

.user-info-dashboard {
  background: white;
  border: solid black;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

.statistics-dashboard {
  background: white;
  border: solid black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}

.game-dashboard {
  background: yellow;
  border: solid black;
  border-radius: 20px;
  padding: 10px;
}

.current-rounds-dashboard {
  background: white;
  border: solid black;
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
}
